@model DotNetCoreWebArchitecture.Web.Models.OrdersViewModel
<br />
<div class="row">
    <table class="table table-condensed table-striped">
        <tr>
            <th>Id</th>
        </tr>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.OrderId</td>
            </tr>
        }
    </table>
</div>