@model DotNetCoreWebArchitecture.Web.Models.OrdersViewModel
<br />

<div class="row">
    <div class="col-md-12">
        <h1>Orders</h1>
        <a asp-action="Edit" asp-controller="Order" asp-route-id="0" class="btn btn-primary">New Order</a>
    </div>
    <hr />
</div>
<hr />
<div class="row">
    <table class="table table-condensed table-striped">
        <tr>
            <th></th>
            <th>Status</th>
            <th>Customer</th>
            <th>Order Item Count</th>
        </tr>
        @foreach (var order in Model.OrderRows)
        {
            <tr>
                <td><a asp-action="Edit" asp-controller="Order" asp-route-id="@order.OrderId">View</a></td>
                <td>@order.OrderStatusName</td>
                <td>@order.CustomerName</td>
                <td>@order.OrderItemCount</td>
            </tr>
        }
    </table>
</div>
