@model DotNetCoreWebArchitecture.Web.Models.MainViewModel
<br />
<div class="row">
    <div class="col-md-12">
        Widget1Count: @Model.Widget1Count
    </div>
    <div class="col-md-12">
        Widget2Count: @Model.Widget2Count
    </div>
    <div class="col-md-12">
        Widget3Count: @Model.Widget3Count
    </div>
</div>
